<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Your order has successfully been submitted!</h1>
    <p>Division: <%= report.division %></p>
    <p>Program: <%= report.program %></p>
    <p>Chair: <%= report.chair %></p>
    <p>Dean: <%= report.dean %></p>
    <p>LOC Rep: <%= report.locRep %></p>
    <p>PEN Contact: <%= report.pen %></p>
    <p>Payee: <%= report.payee %></p>
    <p>Paid: <%= report.paid %></p>
    <p>Report: <%= report.report %></p>
    <p>Notes: <%= report.notes %></p>
  </body>
</html>
