<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Summary</title>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="//cdn.datatables.net/2.3.4/js/dataTables.min.js"></script>

    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/2.3.4/css/dataTables.dataTables.css"
    />

    <!-- Favicon -->
    <link rel="icon" href="/images/GRC_logo.svg" />
    <link rel="icon" href="images/icecream.png" />
  </head>
  <body>
    <table id="summary-table" class="display">
      <thead>
        <tr>
          <th>Division</th>
          <th>Edit Division</th>
          <th>Program</th>
          <th>Chair</th>
          <th>Dean</th>
          <th>LOC Rep</th>
          <th>PEN</th>
          <th>Payee</th>
          <th>Paid</th>
          <th>Report</th>
          <th>Notes</th>
        </tr>
      </thead>
      <tbody>
        <% reports.forEach(report => { %>
        <tr>
          <td><%= report.division%></td>
          <td><a href="/departments/form"><%= report.division.toUpperCase()%></a>✏️</td>
          <td><%= report.program %></td>
          <td><%= report.chair %></td>
          <td><%= report.dean %></td>
          <td><%= report.locRep %></td>
          <td><%= report.pen %></td>
          <td><%= report.payee %></td>
          <td><%= report.paid %></td>
          <td><%= report.report %></td>
          <td><%= report.notes %></td>
        </tr>
        <% });%>
      </tbody>
    </table>
  </body>
  <script defer>
    let table = new DataTable("#summary-table");
  </script>
</html>
